body {
  margin: 0;
  padding: 0;
}

.loading {
  font-family: "Roboto";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;

  color: #ccd1d9;
  background-color: #2c2e31;
}

.loading-text {
  margin-top: 350px;
}

.loading-bar-back {
  display: block;

  width: 180px;
  height: 2px;
  margin: 0 auto;

  background-color: #aab2bd;
}

.loading-bar {
  display: block;

  width: 0;
  height: 100%;

  content: "";
  -webkit-transition: width .3s ease-out;
     -moz-transition: width .3s ease-out;
          transition: width .3s ease-out;

  background-color: #ed5565;
}
